.time-table-bg-container {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

.time-table-image {
  width: 80%;
  max-width: 900px;
}

.time-table-container {
  background-color: #272727;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  min-width: 400px;
  text-align: center;
  padding: 20px 0;
}

.pdf-btn {
  align-self: auto;
  margin: 20px;
}

.notes-form-container {
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 20px;
  width: 80%;
  max-width: 400px;
}
.notes-form-container h2 {
  text-align: center;
}
