.time-table-bg-container {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

.time-table-image {
  width: 80%;
  max-width: 900px;
}

.time-table-container {
  background-color: #272727;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  min-width: 400px;
  text-align: center;
  padding: 20px 0;
}
