.calender-bg-container {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

.calender-image {
  min-width: 400px;
  width: 25%;
}
