.header-container {
  background-color: #272727;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  width: 90px;
}

.nav-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-list {
  display: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: 0 7px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.nav-item::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-item:hover::after {
  width: 100%;
  left: 0;
}

.nav-item:hover {
  transform: scale(1.2);
}

.nav-link {
  color: #f8fafc;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.logout-btn-mobile {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.logout-btn {
  background-image: linear-gradient(to right, #cd0a6e, #4777cd);
  color: #f8fafc;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 10px 30px;
  }

  .nav-logo {
    width: 100px;
  }

  .nav-icon-container {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    margin: 0 12px;
  }

  .logout-btn {
    display: inline;
  }
}
